@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:wght@400;600;700&display=swap');

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("./images/bg3.svg");
  
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
 
  background-position: top; 

}

.paper {
  
  background-position: top;
  padding: 30px 40px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
  position:absolute;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 420px;
  border: 2px solid #363636;
  background: transparent;
  backdrop-filter: blur(30px);
  border-radius: 30px;
  color: #fff;
}

.paper:hover {
  transform: rotateZ(0deg) scale(1.05);
  box-shadow: 2px 20px 25px 0px rgba(0, 0, 0, 0.7);
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffebeb;
}

.paper.image {
  padding: 20px; /* Increased padding for larger size */
  width: 300px; /* Increased width for larger appearance */
  height: auto;
}

.paper.image p {
  font-size: 20px;
  text-align: center;
}

video {
  max-height: 300px;
  width: 100%;
  transform: rotate(270deg); /* Adjust if necessary */
  border-radius: 10px;
}

.paper.heart::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 20px;
  font-style: normal;
  color: rgba(96, 6, 252, 0.856);
  opacity: 0.85;
  user-select: none;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
